.box{
    margin-top: 200px;
    margin-left: 60px;

}
#yes{
    border: none;
    width: 90px;
    background-color: rgb(240, 33, 33);
    border-radius: 10px;
    font-size: 25px;
    padding: 8px;
}

 #game-container {
    position: relative;
    width: 600px;
    height: 600px;
    border: 2px solid #333; 
    margin: 5px;
    overflow: hidden;
    align-items: center;
    
} 


#target {
    position: absolute;
    left: 200px;
    background-color: rgb(0, 89, 255);
    border: none;
    width: 90px;
    border-radius: 10px;
    font-size: 25px;
    padding: 8px;
    cursor: pointer;
    transition: top 0.5s, left 0.5s;
}